/* General Styles */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

p {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1em;
}

section {
    overflow: hidden;
}

/* Header */

#main-header {
    background-color: white;
}

#main-header p.text-center {
    font-size: 2em;
    font-weight: bold;
}

/* Content */



#main-content {
    background-color: lightpink;
}

#main-content p.text-center {
    font-weight: bold;
}


#photo-container .caption {
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,0,0,0.5);
}

.gallery li {
    position: relative;
}

.caption {
    position: absolute;
    top: 0;
    width: 100%;
}

li div {
    position: relative;
}